.page-404-container__header {
    margin: auto auto 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-140px);
    line-height: 1.21;
    text-align: center;
}