.profile-form__exit-button {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background-color: transparent;
    color: var(--critical-red-color);
    width: auto;
    border: 0;
}