.tech-stack {
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-template-rows: repeat(auto-fit, 60px);
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}