.profile-form__input-error {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 2;
    min-height: 51px;
    text-align: center;
    color: var(--critical-red-color);
}