.profile-form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--basic-fourth-tint-color);
}

.profile-form-input:last-of-type {
    border-bottom: none;
}