.header-center-side {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    margin-left: 62px;
}

@media screen and (max-width: 768px) {
    .header-center-side {
        visibility: hidden;
        display: none;
        height: 0;
        padding: 0;
    }
}