.main-screen-container__more-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    /* min-height: 32px; */
    padding: 9px 19px;
    margin-right: auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}
@media screen and (max-width: 810px) {
    .main-screen-container__more-button {
        margin-left: auto;
    }
}