.movies-card__save-button {
    position: absolute;
    color: black;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: .9;
    background-color: #F4F4F4;
    border-radius: 30px;
    border: 0;
    padding: 6px 7px;
    top: 14px;
    right: 14px;
}