.movies-card__save-button {
    position: absolute;
    color: black;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: .9;
    background-color: var(--basic-seventh-tint-color);
    border-radius: 30px;
    border: 0;
    padding: 6px 7px;
    top: 14px;
    right: 14px;
}