.profile-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}