.main-screen-container-columns-text__header {
    text-align: left;
    margin-bottom: 36px;
}

@media screen and (max-width: 810px) {
    .main-screen-container-columns-text__header {
        text-align: center;
    }
}