.card-list-grid {
    margin: 70px auto 14px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(auto-fit, 246px);
    column-gap: 30px;
    row-gap: 60px;
    justify-content: center;
    align-items: stretch;
}