.portfolio-item__icon {
    width: 29px;
    height: auto;
}

@media screen and (max-width: 1280px) {
    .portfolio-item__icon {
        width: calc(27px + (100vw - 768px)/(1280 - 768)*2);
    }
}

@media screen and (max-width: 768px) {
    .portfolio-item__icon {
        width: calc(18px + (100vw - 320px)/(768 - 320)*9);
    }
}

@media screen and (max-width: 320px) {
    .portfolio-item__icon {
        width: 18px;
    }
}