.form {
    border: 1.5px solid #AAAAAA;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 7px 7px 7px 18px;
    box-sizing: border-box;
    width: 100%;
}